@import "tailwindcss";

@theme inline {
  --color-primary: #171717;
  --color-secondary: #e5e5e5;
  --color-subheading: #525252;

  --color-border: #a3a3a3;

  --color-red: #dc2626;
  --color-blue: #1e40af;
  --color-blue-accent: #bfdbfe;
  --color-orange: #f97316;
  --color-yellow: #eab308;
  --color-yellow-accent: #fef08a;
  --color-purple: #6b21a8;
  --color-purple-accent: #e9d5ff;
  --color-green: #15803d;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}